h1{text-align:center;}
.date-wea{
    flex-direction:row-reverse;
    margin:0 9.5% 10px 0;
}
.date-wea>div{
    margin-left:10px;
}
.date-wea>div>select,.date-wea>div>input{
    height:25px;
    line-height:25px;
    border-radius:3px;
    width:100px;
    text-align:center
}
input#title,textarea{
    width:90%;
    margin: 0 5%;
    border-radius:8px;
    padding:0 15px;
}
input#title{
    font-size:1.1em;
}
textarea {
   min-height: 300px;
   width: 90%;
   resize: none;
   overflow: hidden;
   box-sizing: border-box;
   padding: 10px;
 }
.tit, .con{
    width:90%;
    margin: 0 auto 10px;
}
.tit>div, .con>div{
    margin-left:5%;
}
form{position:relative; padding-bottom:69px;}
form>button{
    width:150px;
    position: absolute;
    bottom:24px;
}
form>button[type="submit"]{right:9.5%;}
form>button[type="button"]{
    right:calc(9.5% + 160px);
    display: inline-block;
    background-color: var(--mainc);
    color: var(--fontc);
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    border-radius: 6px;
    margin-top: 12px;
    cursor: pointer;
    transition: background 0.3s;
    text-decoration: none;
}