<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<aside th:fragment="common">
    <div class="right">
        <ul class="side-menu">
            <li>
                <a href="/board/notice">공지사항</a>
            </li>
            <li>
                <a href="/board/QA">Q&A</a>
            </li>
            <li>
                <a href="/mypage/rec">노래 추천 내역</a>
            </li>
            <li>
                <a href="/mypage/calender">그래프</a>
            </li>
        </ul>
    </div>
</aside>
</html>