<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="join-page">
    <form name="frmJoin" method="post" th:action="@{/join}" autocomplete="off" th:object="${requestJoin}">
        <h1 th:text="${pageTitle}"></h1>
        <input type="hidden" name="socialType" th:field="*{socialType}">
        <input type="hidden" name="socialToken" th:field="*{socialToken}">
        <input type="hidden" name="gid" th:value="${gid}" />
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <div th:if="*{social}">
            <th:block th:text="*{#messages.msg('SocialType.' + socialType)}"></th:block>
        </div>
        <ul>
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <div>
                        <input type="text" name="email" th:field="*{email}" th:readonly="${session.EmailAuthVerified != null && session.EmailAuthVerified}">
                        <button th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}" type="button" id="email_verify" th:text="#{인증코드전송}"></button>
                        <span id="email_message"></span>
                    </div>
                    <div class="auth_box">
                        <th:block th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                            <input type="text" id="auth_num" th:placeholder="#{인증코드_입력}">
                            <span id="auth_count">03:00</span>
                            <button type="button" id="email_confirm" th:text="#{확인}" disabled></button>
                            <button type="button" id="email_re_verify" th:text="#{재전송}" disabled></button>
                        </th:block>
                        <th:block th:unless="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                            <span class='confirmed' th:text="#{확인된_이메일_입니다.}"></span>
                        </th:block>
                    </div>
                    <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>
            <li th:if="*{!social}"> 
                <input type="password" name="password" th:field="*{password}" th:placeholder="#{비밀번호}">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </li>
            <li th:if="*{!social}">
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}" th:placeholder="#{비밀번호_확인}">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </li>
            <li>
                <input type="text" name="name" th:field="*{name}" th:placeholder="#{회원명}">
                <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </li>
            <li>
                <input type="text" name="mobile" th:field="*{mobile}" th:placeholder="#{휴대전화번호}">
                <div class="error" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
            </li>
            <li>
                <div class="profile-image file-upload-btn" th:data-gid="${gid}" data-single="true" data-image-only="true">
                    <div th:text="#{프로필_이미지를_등록하세요.}"></div>
                    <div class="inner"></div>
                </div>

            </li>
        </ul>

        <h3 th:text="#{약관동의}"></h3>
        <div class="terms">약관...</div>
        <div class="left checkbox">
            <input type="checkbox" name="termsAgree" th:field="*{termsAgree}" id="terms-agree">
            <label for="terms-agree" th:text="#{회원가입_약관에_동의합니다}"></label>
        </div>
        <div class="error" th:each="err : ${#fields.errors('termsAgree')}" th:text="${err}"></div>
        <button type="submit" th:text="#{가입하기}"></button>
    </form>
    <script th:replace="~{common/_file_tpl::image_tpl}"></script>
</main>
</html>
