<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">
<main layout:fragment="content" class="join-page">
    <form name="frmJoin" method="post" th:action="@{/join}" autocomplete="off" th:object="${requestJoin}">
        <h1 th:text="${pageTitle}"></h1>
        <input type="hidden" name="socialType" th:field="*{socialType}">
        <input type="hidden" name="socialToken" th:field="*{socialToken}">
        <input type="hidden" name="gid" th:field="*{gid}" />
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <div th:if="*{social}">
            <th:block th:text="*{#messages.msg('SocialType.' + socialType)}"></th:block>
        </div>
        <ul>
            <dl>
                <dt th:text="#{이메일}"></dt>
                <dd>
                    <div>
                        <input type="text" class="email-text" name="email" th:field="*{email}" th:readonly="${session.EmailAuthVerified != null && session.EmailAuthVerified}">
                        <button th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}" type="button" id="email_verify" th:text="#{인증코드전송}"></button>
                        <img id="loading_icon" src="/common/images/loading.gif" alt="로딩 중" class="loading-icon" />
                        <span id="email_message"></span>
                    </div>
                    <div class="auth_box">
                        <th:block th:if="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                            <input type="text"
                                   oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" id="auth_num" th:placeholder="#{인증코드_입력}">
                            <span id="auth_count">03:00</span>
                            <button type="button" id="email_confirm" th:text="#{확인}" disabled></button>
                            <button type="button" id="email_re_verify" th:text="#{재전송}" disabled></button>
                        </th:block>
                        <th:block th:unless="${session.EmailAuthVerified == null || !session.EmailAuthVerified}">
                            <span class='confirmed' th:text="#{인증에_성공하셨습니다}"></span>
                        </th:block>
                    </div>
                    <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
                </dd>
            </dl>
            <li th:if="*{!social}">
                <input type="password" name="password" th:field="*{password}" th:placeholder="#{비밀번호}">
                <div class="error" th:each="err : ${#fields.errors('password')}" th:text="${err}"></div>
            </li>
            <li th:if="*{!social}">
                <input type="password" name="confirmPassword" th:field="*{confirmPassword}" th:placeholder="#{비밀번호_확인}">
                <div class="error" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"></div>
            </li>
            <li>
                <input type="text" name="name" th:field="*{name}" th:placeholder="#{회원명}">
                <div class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}"></div>
            </li>
            <li>
                <input type="text" name="mobile" th:field="*{mobile}" th:placeholder="#{휴대전화번호}">
                <div class="error" th:each="err : ${#fields.errors('mobile')}" th:text="${err}"></div>
            </li>
            <li>
                <div class="profile-image" th:classappend="*{profileImage != null} ? 'uploaded'">
                    <div class="file-upload-btn" th:data-gid="*{gid}" data-single="true" data-image-only="true" th:text="#{프로필_이미지를_등록하세요.}"></div>
                    <div class="inner">
                        <div th:if="*{profileImage != null}"  class="file-image" th:id="*{'file-' + profileImage.seq}"><img th:src="@{/file/thumb?width=250&height=250&crop=true(seq=*{profileImage.seq})}" class="image show-image" th:data-seq="*{profileImage.seq}">
                            <button type="button" class="remove" th:data-seq="*{profileImage.seq}" th:text="${삭제}"></button>
                        </div>
                    </div>
                </div>

            </li>
        </ul>
        <h3 th:text="#{약관동의}"></h3>
        <div class="terms">
            <section>
                <h2>제1조 (목적)</h2>
                <p>이 약관은 "moodify" (이하 "M")가 제공하는 모든 서비스의 이용조건 및 절차, M와 회원 간의 권리, 의무 및 책임사항 등을 규정함을 목적으로 합니다.</p>
            </section>

            <section>
                <h2>제2조 (용어의 정의)</h2>
                <p>이 약관에서 사용하는 주요 용어는 다음과 같습니다.</p>
                <ul>
                    <li>① "서비스"란 M가 제공하는 모든 콘텐츠 및 기능을 말합니다.</li>
                    <li>② "회원"이란 M와 이용계약을 체결하고 서비스를 이용하는 자를 말합니다.</li>
                    <li>③ "아이디(ID)"란 회원의 식별과 서비스 이용을 위하여 회원이 정하고 M가 승인하는 문자 또는 숫자의 조합을 의미합니다.</li>
                </ul>
            </section>

            <section>
                <h2>제3조 (약관의 효력 및 변경)</h2>
                <p>① 본 약관은 서비스 화면에 게시하거나 기타의 방법으로 회원에게 공지함으로써 효력을 발생합니다.</p>
                <p>② M는 필요 시 관련 법령을 위반하지 않는 범위에서 약관을 변경할 수 있으며, 변경된 약관은 제1항과 같은 방법으로 효력을 발생합니다.</p>
            </section>

            <section>
                <h2>제4조 (서비스의 제공 및 변경)</h2>
                <p>① M는 회원에게 아래와 같은 서비스를 제공합니다.</p>
                <ul>
                    <li>1. 콘텐츠 추천 서비스</li>
                    <li>2. 감정분석 기반 사용자 맞춤형 기능</li>
                    <li>3. 기타 M가 정하는 서비스</li>
                </ul>
                <p>② M는 서비스의 내용, 운영상 또는 기술상 필요에 따라 제공하는 서비스를 변경할 수 있습니다.</p>
            </section>

            <section>
                <h2>제5조 (회원의 의무)</h2>
                <p>회원은 다음 행위를 하여서는 안 됩니다.</p>
                <ul>
                    <li>1. 타인의 정보 도용</li>
                    <li>2. M가 게시한 정보의 무단 변경</li>
                    <li>3. M의 저작권 등 지적 재산권 침해</li>
                    <li>4. 기타 불법적이거나 부당한 행위</li>
                </ul>
            </section>

            <section>
                <h2>제6조 (면책조항)</h2>
                <p>M는 다음 각 호의 사유로 인해 발생한 손해에 대해 책임을 지지 않습니다.</p>
                <ul>
                    <li>1. 천재지변 또는 이에 준하는 불가항력의 사유</li>
                    <li>2. 회원의 귀책사유로 인한 서비스 이용 장애</li>
                    <li>3. 제3자가 불법적으로 접근하거나 서버를 공격한 경우</li>
                </ul>
            </section>

            <section>
                <h2>부칙</h2>
                <p>이 약관은 2025년 7월 31일부터 시행됩니다.</p>
            </section>
        </div>
        <div class="left checkbox">
            <input type="checkbox" name="termsAgree" th:field="*{termsAgree}" id="terms-agree">
            <label for="terms-agree" th:text="#{회원가입_약관에_동의합니다}"></label>
        </div>
        <div class="error" th:each="err : ${#fields.errors('termsAgree')}" th:text="${err}"></div>
        <button type="submit" th:text="#{가입하기}"></button>
    </form>
    <script th:replace="~{common/_file_tpl::image_tpl}"></script>
</main>
</html>
