.day-of-week,
.day-of-month {
    display: flex;
    flex-wrap: wrap;
}

.day-of-week > li {
    width: 0;
    flex-grow: 1;
    text-align: center;
    height: 45px;
    border-bottom: 2px solid #000;
    line-height: 43px;
}

.day-of-week > li:first-of-type {
    color: red;
}

.day-of-week > li:last-of-type {
    color: blue;
}

.day-of-month > li {
    width: calc(100% / 7);
}

.day-of-month > li .inner {
    height: 100px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
}

.day-of-month > li:nth-of-type(7n+1) .day {
    color: red;
}

.day-of-month > li:nth-of-type(7n) .day {
    color: blue;
}