.day-of-week,
.day-of-month {
    display: flex;
    flex-wrap: wrap;
}

.day-of-week > li {
    width: 0;
    flex-grow: 1;
    text-align: center;
    height: 45px;
    border-bottom: 2px solid #000;
    line-height: 43px;
}

.day-of-week > li:first-of-type {
    color: red;
}

.day-of-week > li:last-of-type {
    color: blue;
}

.day-of-month > li {
    width: calc(100% / 7);
}

.day-of-month > li .inner {
    position: relative;
    height: 100px;
    background: #f8f8f8;
    border-radius: 5px;
    padding: 15px;
    margin: 2px;
}

.day-of-month > li:nth-of-type(7n+1) .day {
    color: red;
}

.day-of-month > li:nth-of-type(7n) .day {
    color: blue;
}

/* 감정 이미지 S */

.inner .extra {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 이미지 사이즈를 상위 박스에 맞게 조정 */
.inner .extra img {
    max-width: 50px;
    max-height: 50px;
    display: block; /* 여백 제거 */
}

/* 감정 이미지 E */

/* 캘린더 클릭 S */
.select-day:not(.disabled):hover {
    cursor: pointer;
    background-color: var(--mainc);
}

.select-day.disabled {
    pointer-events: none;
    opacity: 0.4;
    background-color: #eee;
    color: #888;
    cursor: default;
}
/* 캘린더 클릭 E */