<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/basic}">
<main layout:fragment="content">
    <nav>
        <a th:href="@{/calendar(year=${prevYear}, month=${prevMonth})}">
            <button type="button" th:text="#{이전달}"></button>
        </a>
        <span th:text="${year}"></span>.<span th:text="${#numbers.formatInteger(month, 2)}"></span>
        <a th:href="@{/calendar(year=${nextYear}, month=${nextMonth})}">
            <button type="button" th:text="#{다음달}"></button>
        </a>
    </nav>

    <ul class="day-of-week">
        <li th:text="#{일}"></li>
        <li th:text="#{월}"></li>
        <li th:text="#{화}"></li>
        <li th:text="#{수}"></li>
        <li th:text="#{목}"></li>
        <li th:text="#{금}"></li>
        <li th:text="#{토}"></li>
    </ul>
    <ul class="day-of-month">
        <li th:each="item: ${items}" th:object="${item}">
            <div class="inner select-day" th:data-date="*{date}"
                 th:classappend="${item.date.monthValue != month or item.date.year != year} ? 'not-current-month'">
                <span class="day" th:text="*{dayWithZero}"></span>
                <div class="extra" th:if="*{extra != null}" th:utext="*{extra}"></div>
            </div>
        </li>
    </ul>
</main>
</html>